@import "tailwindcss";

:root {
	--background: #fffffe;
	--foreground: #121826;
}

@theme inline {
	--color-foreground: var(--foreground);
	--color-background: var(--background);
	--color-blue: #406aff;
	--color-gray-1: #364153;
	--color-gray-2: #ced6e1;
}
